/* Custom CSS for 16Jul2015 SWC-Workout Cloud Computing talk slides */

/* Tweak links colours to look better on clouds and sky background */
.reveal a {
  color: #8b743d;
}

.reveal a:hover {
  color: #c0a76e;
}


/* Get rid of image border */
.reveal section img {
  border: 0px;
}


/* Put attribution text for an image below its lower right corner */
div.attributed-img {
    margin-left: auto;
    margin-right: auto;
}
p.attribution {
    font-size: 0.4em;
    text-align: right;
    margin-top: -25px;
}
