/* Custom CSS for 16Jul2015 SWC-Workout Cloud Computing talk slides */


/* Remove uppercase text transformation from headings */
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
}

/* Tweak links colours to look better on clouds and sky background */
.reveal a {
  color: #42affa;
}

.reveal a:hover {
  color: #8dcffc;
}


/* Get rid of image border */
.reveal section img {
  border: 0px;
}


/* Put attribution text for an image below its lower right corner */
div.attributed-img {
    margin-left: auto;
    margin-right: auto;
}
p.attribution {
    font-size: 0.4em;
    text-align: right;
    margin-top: -25px;
}
